<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/book_add.css' %}">
</head>
<body>
    <div class="container">
        <h1>Add New Book</h1>
        <form method="post" class="book-form">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Title" required>

            <label for="issn">ISSN:</label>
            <input type="text" id="issn" name="issn" placeholder="ISSN" required>

            <label for="publish_date">Publish Date:</label>
            <input type="date" id="publish_date" name="publish_date" required>

            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" placeholder="Stock" required>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" placeholder="Category (e.g., Fiction, Non-fiction)" required>

            <button type="submit" class="submit-btn">Add Book</button>
        </form>
    </div>
    <script src="{% static '/js/book_add.js' %}"></script>
</body>
</html>
